Interval     1

LoadPlugin amqp1
{% if 'connectivity' in plugins %}
LoadPlugin connectivity
{% endif %}
#LoadPlugin conntrack
{% if 'cpu' in plugins %}
LoadPlugin cpu
{% endif %}
{% if 'cpufreq' in plugins %}
LoadPlugin cpufreq
{% endif %}
{% if 'df' in plugins %}
LoadPlugin df
{% endif %}
{% if 'disk' in plugins %}
LoadPlugin disk
{% endif %}
{% if 'hugepages' in plugins %}
LoadPlugin hugepages
{% endif %}
{% if 'intel_rdt' in plugins %}
LoadPlugin intel_rdt
{% endif %}
{% if 'interface' in plugins %}
LoadPlugin interface
{% endif %}
{% if 'ipmi' in plugins %}
LoadPlugin ipmi
{% endif %}
{% if 'load' in plugins %}
LoadPlugin load
{% endif %}
{% if 'memory' in plugins %}
LoadPlugin memory
{% endif %}
{% if 'network' in plugins %}
LoadPlugin network
{% endif %}
{% if 'ovs_events' in plugins %}
LoadPlugin ovs_events
{% endif %}
{% if 'ovs_stats' in plugins %}
LoadPlugin ovs_stats
{% endif %}
{% if 'processes' in plugins %}
LoadPlugin processes
{% endif %}
{% if 'procevent' in plugins %}
LoadPlugin procevent
{% endif %}
{% if 'uptime' in plugins %}
LoadPlugin uptime
{% endif %}
##LoadPlugin varnish
{% if 'virt' in plugins %}
LoadPlugin virt
{% endif %}

##############################################################################
# Plugin configuration                                                       #
#----------------------------------------------------------------------------#
# In this section configuration stubs for each plugin are provided. A desc-  #
# ription of those options is available in the collectd.conf(5) manual page. #
##############################################################################

<Plugin amqp1>
  <Transport "name">
    Host "{{ collectd_host }}"
    Port "{{ collectd_port }}"
#    User "guest"
#    Password "guest"
    Address "collectd"
#    RetryDelay 1
#    <Instance "log">
#        Format JSON
#        PreSettle false
#    </Instance>
    <Instance "telemetry">
        Format JSON
        PreSettle true
    </Instance>
  </Transport>
</Plugin>

{% if 'ceph' in plugins %}
<Plugin ceph>
#  LongRunAvgLatency false
#  ConvertSpecialMetricTypes true
{% for daemon in collectd_plugin_ceph %}
  <Daemon "{{ daemon.name|e }}">
    SocketPath "{{ daemon.socketpath|e }} "
  </Daemon>
{% endfor %}
#  <Daemon "osd.0">
#    SocketPath "/var/run/ceph/ceph-osd.0.asok"
#  </Daemon>
#  <Daemon "osd.1">
#    SocketPath "/var/run/ceph/ceph-osd.1.asok"
#  </Daemon>
#  <Daemon "mon.a">
#    SocketPath "/var/run/ceph/ceph-mon.ceph1.asok"
#  </Daemon>
#  <Daemon "mds.a">
#    SocketPath "/var/run/ceph/ceph-mds.ceph1.asok"
#  </Daemon>
</Plugin>
{% endif %}

{% if 'cpu' in plugins %}
<Plugin cpu>
  Interval {{ collectd_plugin_cpu_interval }}
  ReportByCpu true
  ReportByState true
  ValuesPercentage true
  ReportNumCpu false
  ReportGuestState false
  SubtractGuestState true
</Plugin>
{% endif %}

{% if 'df' in plugins %}
<Plugin df>
#	Device "/dev/hda1"
#	Device "192.168.0.2:/mnt/nfs"
#	MountPoint "/home"
#	FSType "ext3"
#	IgnoreSelected false
#	ReportByDevice false
#	ReportInodes false
#	ValuesAbsolute true
	ValuesPercentage true
</Plugin>
{% endif %}

{% if 'disk' in plugins %}
<Plugin disk>
#	Disk "/^[hs]d[a-f][0-9]?$/"
#	IgnoreSelected false
#	UseBSDName false
#	UdevNameAttr "DEVNAME"
</Plugin>
{% endif %}

{% if 'hugepages' in plugins %}
<Plugin hugepages>
#    ReportPerNodeHP  true
#    ReportRootHP     true
#    ValuesPages      true
#    ValuesBytes      false
#    ValuesPercentage false
</Plugin>
{% endif %}

{% if 'intel_rdt' in plugins %}
<Plugin "intel_rdt">
#  Cores "0-2"
   Interval 1
</Plugin>
{% endif %}

{% if 'interface' in plugins %}
<Plugin interface>
#	Interface "eth0"
#	IgnoreSelected false
#	ReportInactive true
#	UniqueName false
</Plugin>
{% endif %}

{% if 'ipmi' in plugins %}
<Plugin ipmi>
	<Instance "local">
       Username {{ collectd_plugin_ipmi_username }}
       Password {{ collectd_plugin_ipmi_password }}
#		Sensor "some_sensor"
#		Sensor "another_one"
#		IgnoreSelected false
#		NotifySensorAdd false
#		NotifySensorRemove true
#		NotifySensorNotPresent false
#		NotifyIPMIConnectionState false
#		SELEnabled false
#		SELClearEvent false
	</Instance>
#	<Instance "remote">
#		Host "server.example.com"
#		Address  "1.2.3.4"
#		Username "user"
#		Password "secret"
#		#AuthType "md5"
#		Sensor "some_sensor"
#		Sensor "another_one"
#		IgnoreSelected false
#		NotifySensorAdd false
#		NotifySensorRemove true
#		NotifySensorNotPresent false
#		NotifyIPMIConnectionState false
#		SELEnabled false
#		SELClearEvent false
#	</Instance>
</Plugin>
{% endif %}

{% if 'load' in plugins %}
<Plugin load>
  ReportRelative true
</Plugin>
{% endif %}

{% if 'memory' in plugins %}
<Plugin memory>
#	ValuesAbsolute true
#	ValuesPercentage false
</Plugin>
{% endif %}

{% if 'ovs_stats' in plugins %}
<Plugin ovs_stats>
#  Port "6640"
#  Address "127.0.0.1"
#  Socket "/var/run/openvswitch/db.sock"
#  Bridges "br0" "br_ext"
</Plugin>
{% endif %}

{% if 'processes' in plugins %}
<Plugin processes>
#	CollectFileDescriptor true
#	CollectContextSwitch true
#	CollectMemoryMaps true
#	Process "name"
#	ProcessMatch "name" "regex"
#	<Process "collectd">
#		CollectFileDescriptor false
#		CollectContextSwitch false
#	</Process>
#	<ProcessMatch "name" "regex">
#		CollectFileDescriptor false
#		CollectContextSwitch true
#	</Process>
</Plugin>
{% endif %}

{% if 'procevent' in plugins %}
<Plugin "procevent">
   BufferLength {{ collectd_plugin_procevent_bufferlength }}
{% for process in collectd_plugin_procevent_processes %}
   Process "{{ process }}"
{% endfor %}
#  Process tuned
</Plugin>
{% endif %}

{% if 'virt' in plugins %}
<Plugin virt>
   Connection "qemu:///system"
   RefreshInterval {{ collectd_plugin_virt_refreshinterval }}
   HostnameFormat {{ collectd_plugin_virt_hostnameformat }}
   PluginInstanceFormat {{ collectd_plugin_virt_plugininstanceformat }}
   ExtraStats "{{ collectd_plugin_virt_extrastats }}"
#	Connection "xen:///"
#	RefreshInterval 60
#	Domain "name"
#	BlockDevice "name:device"
#	BlockDeviceFormat target
#	BlockDeviceFormatBasename false
#	InterfaceDevice "name:device"
#	IgnoreSelected false
#	InterfaceFormat name
#	Instances 1
</Plugin>
{% endif %}
