Hostname "{{ ansible_fqdn }}"
Interval {{ collectd_interval }}
Timeout 2
ReadThreads 5
WriteThreads 5

Include "/etc/collectd/conf.d/*.conf"

<Plugin df>
  ValuesPercentage true
</Plugin>

<Plugin intel_rdt>
  Interval 1
</Plugin>

<Plugin ipmi>
  Username {{ collectd_plugin_ipmi_username }}
  Password {{ collectd_plugin_ipmi_password }}
</Plugin>

<Plugin virt>
  Connection "qemu:///system"
  RefreshInterval {{ collectd_plugin_virt_refreshinterval }}
  HostnameFormat {{ collectd_plugin_virt_hostnameformat }}
  PluginInstanceFormat {{ collectd_plugin_virt_plugininstanceformat }}
  ExtraStats "{{ collectd_plugin_virt_extrastats }}"
</Plugin>
