{
    "command": "/usr/sbin/qdrouterd", 
    "config_files": [
        {
            "dest": "/etc/qpid-dispatch/qdrouterd.conf", 
            "merge": true, 
            "preserve_properties": true, 
            "source": "{{ qdr_kolla_config_files }}/src/etc/qdrouterd.conf"
        }
    ], 
    "permissions": [
        {
            "path": "/var/lib/qdrouterd",
            "owner": "qdrouterd:qdrouterd",
            "recurse": true
        },
        {
            "path": "/var/log/qdrouterd",
            "owner": "qdrouterd:qdrouterd",
            "recurse": true
        }
    ]
}
